# NAME - RASHMEET SINGH SAWHNEY
# STUDENT ID - 200506934

# QUESTION 1

The following code when executed gives the output 6 , means that the value of a=6 after the function b() is executed thrice.
When the function is executed for the first time , the value of a is made global and on calling the fucntion c() into a , value 2 is added to a which makes a=2 . When this process happens for the second time , the value of a is now 2 and not 0 , hence it will make it 4 and 6 in the third execution .

In [12]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2
b() #returns value 2 
b() #returns 2+2 , i.e 4
b() #returns 4+2 , i.e 6
a # the value a will get after execution is 6

6

# QUESTION 2

File pbset2 contains the text "Problem Set 2 Data Programming"

In [6]:
def file_length(file):
    try:
        with open(file,'r') as a:
            contents = a.read()
            print(len(contents))
    except: 
        print("File " + file + " not found ")
file_length('C:\\Users\\hp\\OneDrive\\Desktop\\pbset2.txt')
file_length('C:\\Users\\hp\\OneDrive\\Desktop\\pbset.txt')

31
File C:\Users\hp\OneDrive\Desktop\pbset.txt not found

# QUESTION 3

In [120]:
class Marsupial:
    def __init__(self):
        self.pouch=[] #declaring a list called pouch
    def put_in_pouch(self,item):
        self.pouch.append(item) #appending items to list pouch
    def pouch_contents(self):
        return self.pouch
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [121]:
class Kangaroo(Marsupial):  #sub class of class Marsupial
    def __init__(self,x,y):
        Marsupial.__init__(self) #inheriting features of class Marsupial
        self.x=x
        self.y=y
    def jump(self,dx,dy):
        self.x+=dx
        self.y+=dy
    def __str__(self):
        return"I am a Kangaroo located at cordinates ({0},{1})".format(self.x,self.y)
k = Kangaroo(0,0)
print(k)

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

I am a Kangaroo located at cordinates (0,0)
I am a Kangaroo located at cordinates (3,0)

['doll', 'firetruck', 'kitten']

# QUESTION 4

In [2]:
def collatz(x):
    if x==1:
        return 1 ;
    elif (x % 2) == 0:
        print (x/2)
        return collatz(x/2) ;
    else:
        print (3*x+1)
        return collatz((3*x)+1) ;
a=int(input())
collatz(a)

10
5.0
16.0
8.0
4.0
2.0
1.0

1

# QUESTION 5

In [20]:
def binary(x):
    if x <= 0 :
        return 0
    else:
        return x%2 + 10*binary(x//2)
print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

# QUESTION 6

In [58]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.tag=''
    def handle_starttag(self, tag, attrs):   
        self.tag = tag
    def handle_data(self,data): 
        a = ['h1','h2','h3','h4','h5','h6']
        if self.tag in a:
                n=int(self.tag[1])
                print(n*""+data,end='')
infile = open('C:\\Users\\hp\\OneDrive\\Desktop\\w3c.html','r')  
content = infile.read()
infile.close()

parser = HeadingParser()
parser.feed(content)

W3C Mission
	Principles

# QUESTION 7

Question 7 could not be solved as the concept of URL parsing was not clear in the lecture , tried with the code given in lecture but there were many errors .

# QUESTION 8

Creating a connection with sql server and inserting all the values into the table as following :

In [3]:
import sqlite3
Connection=sqlite3.connect('AreaWeathers.db')
cursor_conn=Connection.cursor()

cursor_conn.execute("Create table Weathers(city text, country text, season text, temperature float, rainfall float)")
cursor_conn.execute("INSERT INTO Weathers VALUES ('Mumbai','India', 'Winter', 24.8, 5.9)")
cursor_conn.execute("INSERT INTO Weathers VALUES ('Mumbai','India', 'Spring', 28.4, 16.2)")
cursor_conn.execute("INSERT INTO Weathers VALUES ('Mumbai','India', 'Summer', 27.9, 1549.4)")
cursor_conn.execute("INSERT INTO Weathers VALUES ('Mumbai','India', 'Fall', 27.6, 346.0)")
cursor_conn.execute("INSERT INTO Weathers VALUES ('London','United Kingdom', 'Winter', 4.2, 207.7)")
cursor_conn.execute("INSERT INTO Weathers VALUES ('London','United Kingdom', 'Spring', 8.3, 169.6)")
cursor_conn.execute("INSERT INTO Weathers VALUES ('London','United Kingdom', 'Summer', 15.7, 157.0)")
cursor_conn.execute("INSERT INTO Weathers VALUES ('London','United Kingdom', 'Fall', 10.4, 218.5)")
cursor_conn.execute("INSERT INTO Weathers VALUES ('Cairo','Egypt', 'Winter', 13.6, 16.5)")
cursor_conn.execute("INSERT INTO Weathers VALUES ('Cairo','Egypt', 'Spring', 20.7, 6.5)")
cursor_conn.execute("INSERT INTO Weathers VALUES ('Cairo','Egypt', 'Summer', 27.7, 0.1)")
cursor_conn.execute("INSERT INTO Weathers VALUES ('Cairo','Egypt', 'Fall', 22.2, 4.5)")

#cursor_conn.execute("Select * from Weathers ")
#for i in cursor_conn:
   # print(cursor_conn)

# 8a

In [15]:
cursor_conn.execute("Select temperature from Weathers")
#print(cursor_conn.fetchall())
for i in cursor_conn:
    print(i[0])

24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

# 8b

In [16]:
cursor_conn.execute("Select DISTINCT city from Weathers")
#print(cursor_conn.fetchall())
for i in cursor_conn:
    print(i[0])

Mumbai
London
Cairo

# 8c

In [18]:
cursor_conn.execute("Select * from Weathers where country = 'India'")
#print(cursor_conn.fetchall())
for i in cursor_conn:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

# 8d

In [21]:
cursor_conn.execute("Select * from Weathers where season = 'Fall'")
#print(cursor_conn.fetchall())
for i in cursor_conn:
    print(i)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

# 8e

In [22]:
cursor_conn.execute("Select city,country,season,rainfall from Weathers where rainfall > 200 and rainfall < 400")
#print(cursor_conn.fetchall())
for i in cursor_conn:
    print(i)

('Mumbai', 'India', 'Fall', 346.0)
('London', 'United Kingdom', 'Winter', 207.7)
('London', 'United Kingdom', 'Fall', 218.5)

# 8f

In [23]:
cursor_conn.execute("Select city,country,temperature from Weathers where temperature > 20 ORDER BY temperature")
#print(cursor_conn.fetchall())
for i in cursor_conn:
    print(i)

('Cairo', 'Egypt', 20.7)
('Cairo', 'Egypt', 22.2)
('Mumbai', 'India', 24.8)
('Mumbai', 'India', 27.6)
('Cairo', 'Egypt', 27.7)
('Mumbai', 'India', 27.9)
('Mumbai', 'India', 28.4)

# 8g

In [25]:
cursor_conn.execute("Select city , SUM(rainfall) as totalrainfall from Weathers where city = 'Cairo'")
#print(cursor_conn.fetchall())
for i in cursor_conn:
    print(i)

('Cairo', 27.6)

# 8h

In [26]:
cursor_conn.execute("Select season , SUM(rainfall) from Weathers GROUP BY season")
#print(cursor_conn.fetchall())
for i in cursor_conn:
    print(i)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# QUESTION 9a

In [3]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
newwords = [i.upper() for i in words]
newwords

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

# QUESTION 9b

In [4]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
newwords = [i.lower() for i in words]
newwords

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# QUESTION 9c

In [11]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
newwords = [len(i) for i in words]
newwords

[3, 5, 5, 3, 5, 4, 3, 4, 3]

# QUESTION 9d

In [10]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
newwords = [(i.upper(),i.lower(),len(i)) for i in words]
print(newwords,end='')

[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]

# QUESTION 9e

In [12]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
newwords = [i for i in words if len(i)>=4]
newwords

['quick', 'brown', 'jumps', 'over', 'lazy']